:root{
    --vermelho: #e50914;
    --preta: #141414;
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
}

body{
    font: 20px  Arial, sann-serif;
}

.navbar {
    background-color: #298a08;
}

.quem-somos{
    background-color: #8181f7;
    color: white;
}

.margin{    
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58faf4;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}